/* =====> fonts */
@import url(https://allfont.net/allfont.css?fonts=courier-new-bold);
@import url(https://allfont.net/allfont.css?fonts=courier-new);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

h1 {
  font-size: 2em;
}

.homegbg {
  background: linear-gradient(
    132deg,
    #f6dec4 30%,
    #fbd1a2 68%,
    #f6dec4 200%
  ) !important;
}
.ant-row {
  display: block !important;
}
.loginBg {
  background: linear-gradient(132deg, #f6dec4, #fbd1a2 48%, #f6dec4 93%);
}
.newBook textarea {
  max-width: unset !important;
  width: 500px !important;
  min-height: unset !important;
  height: 45px !important;
  padding-top: 10px !important;
}
/* // =====> advance edit style */
.advanceEdit textarea {
  max-width: unset !important;
  width: 430px !important;
}
@media screen and (max-width: 500px) {
  .advanceEdit textarea {
    width: 300px !important;
  }
}

.advanceEdit .ant-select-selector{
  width: 430px !important;
}

@media screen and (max-width: 500px) {
  .advanceEdit .ant-select-selector {
    width: 300px !important;
  }
}

.ant-card-body {
  padding: 0px !important;
}
/* //===========newBook style */
.newBook textarea {
  max-width: unset !important;
  width: 500px !important;
}

@media screen and (max-width: 480px) {
  .newBook textarea {
    width: 300px !important;
  }
}

/* // ====> bookview style */
.bookView textarea {
  max-width: unset !important;
  width: 430px !important;
}
@media screen and (max-width: 500px) {
  .bookView textarea {
    width: 300px !important;
  }
}
/* =======> booktable style */
.bookTable img {
  display: flex !important;
  width: 240px !important;
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */ 
.nav-menu {
  position: absolute;
  top: 50px; /* adjust this value as needed */
  right:-50px;
  transform: translateX(-100%);
  transition: transform 300ms ease-in-out;
  z-index: 50;
  background-color:black ; /* giving it a background color */
  width: 250px; /* or whatever width you want */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* adding shadow */
  border-radius: 0 0 4px 4px; /* rounding the bottom corners */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-menu.open {
  transform: translateX(0);
  
}

.nav-menu .flex div {
  padding: 12px 16px; /* padding around the links */
}

.nav-menu .flex div:hover {
  background-color: #153954; /* background on hover */
  cursor: pointer;
}

.nav-menu .flex div a, .nav-menu .flex div span {
  color: #ffffff; /* text color */
  font-weight: bold; /* making text bold */
  text-decoration: none; /* removing underline */
  transition: color 300ms ease-in-out; /* smooth color transition */
}

.nav-menu .flex div a:hover, .nav-menu .flex div span:hover {
  color: #aad4ea; /* text color on hover */
}


/* Add this CSS to your stylesheet */
.text-area-readonly {
  cursor: default;
  border: none;
  resize: none;
}


.main-intro {
  background-image: url("./images/ww.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* You can set a default height here if you want */

}

.main-target{
  height: 50vh; /* example: 50% of the viewport height */
}


@media screen and (max-width: 500px) {
  .main-intro {
    background-position: right;
  }
}
@media screen and (max-width: 480px) {
 .main-intro {
  background-position: right;
  }
}



.nav-top {
  transition: background-color 0.30s ease-in-out;
}

.nav-top.scrolled {
  background-color:#006ca6;
}

.intro-glow {
  text-shadow: 0 0 10px #0496ff, 0 0 20px #0496ff, 0 0 30px #ffbc42, 0 0 40px #ffbc42, 0 0 50px #ffbc42, 0 0 60px #ffbc42;
}


.sign-up{
  background-image: url("./images/w8.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* You can set a default height here if you want */
  height: 50vh; /* example: 50% of the viewport height */
}


.bg-gradient{
  background: rgb(12,36,64);
  background: linear-gradient(3deg, rgba(12,36,64,1) 0%, rgba(0,107,166,1) 100%);
}


.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-shadow-glow {
  

    text-shadow: 0 -1px 4px #0a0907, 0 -2px 10px #006ba6, 0 -10px 20px #006ba6, 0 -18px 40px #0a0907;
  
    
}

.text-shadow-orange-glow {
  

  text-shadow: 0 -1px 4px #ffffff, 0 -2px 10px #ffbc42, 0 -10px 20px #ffbc42, 0 -18px 40px #ffbc42;

  
}

.form-category{
  width:500px !important;
}

@media screen and (max-width: 500px) {
  .form-category{
    width:300px !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .nav-top {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .menu-links {
    margin-left: auto;
  }

  .library-title {
    position: initial;
    transform: initial;
  }
}
