header {
  position:fixed;
  width: 100%;
  z-index: 100;
}

.layout-title{
  color:rgb(0, 191, 255);
 align-items: center;
 background:transparent;

  font-size: 2em;
  text-align: center;
  z-index: 1;
}

.layout-menu{
  display:flex;
  flex-direction: column;
  justify-content: center;
}





.ant-menu.ant-menu-dark{
  margin-top: -82px;
  margin-left: -50px;
  width: 250px;
  z-index: 10;
}



// ****
// ***Media
// ***
@media screen and (max-width:650px){
  .ant-menu.ant-menu-dark{
  //   display:flex;
  //   flex-direction: column;
  //   overflow: hidden;
  //   width: 10vw;
  //   height:10vh;;
  //   margin-top: -40px;
  //   margin-left: -50px;
  //  text-align: left !important;

     
  .layout-menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }


  }

  .ant-menu.ant-menu-dark{
    display: flex;
    flex-direction: column;
    width:60vw;
    height:2vh;
    font-size: 3em;
    margin-top:-100px;
    margin-left: -50px !important;
    svg{
      width:40px;
      height: 100px;
          }
  }

  .ant-menu-submenu-title{
    width:5vh;
    height: 10vh;
    background:rgba(223, 10, 46, 0);
    margin-top:-100px;
    
  }


  
  .ant-menu-submenu-popup {
   

    
    position: fixed !important;
    left:0px !important;
    top:60px !important;
  }




}