* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  overflow-x: hidden;
}
* h1 {
  font-size: 2em;
}

header {
  position: fixed;
  width: 100%;
  z-index: 11;
  overflow: hidden;
}

.layout-title {
  color: rgb(3, 192, 255);
  align-items: center;
  background: transparent;
  font-size: 2em;
  text-align: center;
  z-index: 1;
}

.ant-menu.ant-menu-dark {
  display: flex;
  flex-direction: row;
  position: absolute;
  height: auto;
  font-size: 3em;
  margin-top: -76px;
  margin-left: -50px !important;
  width: 400px;
  z-index: 10;
  overflow: hidden !important;
}
.ant-menu.ant-menu-dark ul {
  overflow: hidden;
}
.ant-menu.ant-menu-dark li {
  overflow: hidden;
}

@media screen and (max-width: 650px) {
  .ant-menu.ant-menu-dark {
    display: flex;
    flex-direction: column;
    background: transparent;
    width: 90px;
    height: 200vh;
    font-size: 3em;
    margin-top: -100px;
    margin-left: -50px !important;
  }
  .ant-menu.ant-menu-dark svg {
    margin-top: 30px;
    width: 50px;
    height: 50px;
  }
  .ant-menu-submenu-popup {
    position: fixed !important;
    left: 0px !important;
    top: 60px !important;
  }
  .ant-menu-overflow .ant-menu .ant-menu-root .ant-menu-horizontal {
    width: 200px !important;
  }
  .ant-menu-overflow .ant-menu .ant-menu-root .ant-menu-horizontal ul {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}
.site-layout-content {
  min-height: 280px;
  padding-top: 64px;
  background: #fff;
}
.site-layout-content h1 {
  text-align: center;
}

#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.intro {
  width: 80vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: "Lucida Console", "Courier New", monospace;
  overflow: hidden;
}
.intro img {
  margin-top: 20px;
  opacity: 83%;
  order: 0;
  max-height: 45vh;
  min-width: 50vw;
}

.intro-text {
  width: auto;
  height: 500px;
  display: flex;
  flex-direction: column;
  font-size: 3em;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 25px;
}
.intro-text p {
  font-size: 0.5em;
}
.intro-text h3 {
  font-size: 1.2em;
  text-align: center;
}

.sign-up {
  overflow-x: hidden;
  width: 100% !important;
  height: 80vh;
  display: flex;
  flex-direction: row;
  background: rgba(237, 237, 237, 0.66);
  justify-content: center;
  align-content: center;
  font-family: "Lucida Console", "Courier New", monospace;
  align-items: center;
  justify-content: center;
}
.sign-up img {
  opacity: 80%;
  width: 45vw;
}

.sign-up-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sign-up-text a {
  font-size: 0.9em;
}
.sign-up-text h1 {
  font-size: 2.8em;
  text-align: center;
  z-index: 1;
}

.Ideas {
  width: 100% !important;
  height: 80vh;
  background: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 5px;
  font-size: 5em;
}
.Ideas h1 {
  font-size: 0.6em;
}
.Ideas img {
  margin: 0;
}

.Ideas-example {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.ideas-example-1, .ideas-example-2, .ideas-example-3 {
  width: 40vh;
  height: auto;
  background: white;
  z-index: 2 !important;
  margin: 25px;
}
.ideas-example-1 h1, .ideas-example-2 h1, .ideas-example-3 h1 {
  font-size: 1.5em;
  padding-top: 2em;
}
.ideas-example-1 img, .ideas-example-2 img, .ideas-example-3 img {
  width: 100%;
  height: 50%;
}

@media screen and (max-width: 650px) {
  .ant-layout-content {
    padding: 0 !important;
  }
  .intro {
    width: 100vw;
    flex-direction: column;
  }
  .intro img {
    max-height: 80%;
    margin: 0;
  }
  .intro h3 {
    text-align: center;
    align-content: center;
    object-position: center;
  }
  .intro-text {
    padding: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.6em;
  }
  .sign-up-text {
    margin: 0;
    order: 1;
  }
  .Ideas {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
  }
  .Ideas-example {
    flex-direction: column;
  }
  .ideas-example-1, .ideas-example-2, .ideas-example-3 {
    align-items: center;
    text-align: center;
    height: 50vh !important;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    white-space: pre-line;
    width: auto;
  }
  .sign-up {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1em;
  }
  .sign-up img {
    margin-left: 0;
    width: 100% !important;
  }
  .sign-up-text h1 {
    justify-content: center;
    align-items: center;
  }
}
.Login-Form {
  color: red !important;
  justify-content: center;
}

.Demo-Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Demo-Login button {
  margin: 0.5em;
}

.site-layout-content {
  justify-content: center;
}

.ant-form-item-label .Login-Form {
  justify-content: center !important;
  text-align: left;
}
.ant-form-item-label .Login-Form h1 {
  font-size: 3em;
}
.ant-form-item-label label {
  font-size: 1.5em !important;
}

.ant-col-16 {
  max-width: 20vw !important;
}

@media screen and (max-width: 650px) {
  .ant-col-16 {
    max-width: 200px !important;
  }
  .site-layout-content {
    display: flex;
    justify-content: center;
    font-size: 4em !important;
  }
  .ant-form-item-label label {
    font-size: 1.5em !important;
  }
}
.sign-up-button {
  justify-content: center;
}

@media screen and (max-width: 650px) {
  .Sign-up-form {
    background: rgb(255, 255, 255);
    width: 90%;
  }
}
.ant-pagination-disabled .ant-pagination-item-link {
  overflow: hidden;
}

.ant-popover .ant-popconfirm .ant-popover-placement-top {
  z-index: 99;
}

.Book_Table button {
  color: black;
  background: rgba(232, 10, 10, 0.709);
  border-radius: 21.3px;
  width: 50px;
}

.ant-table-tbody > tr > td {
  text-align: center;
}

.ant-form-item {
  justify-content: center;
}

.ant-col-8 {
  flex: 0 0 18.333333%;
  margin-left: -20%;
}

/*# sourceMappingURL=App.css.map */
