@import '../basics/colors';
// .Book-form-edit{
//     width:100%;
  

    
//     input{
//       overflow: hidden;
//     }
//   //  flex-direction: column;
//   //  flex-wrap: wrap;
//   //  align-content: flex-start;
  
//   }
//   .Card-img{
//     img{
//       width:100%;
//       height:auto;
//     }
//   }

.Book-form-edit{
  width:100%;
  background:$apricot-light-color !important; 

}


.advance-edit-container{
  color:$navy-color !important;
  h1{
    margin-bottom: 20px;
  }
}