.Book-form-view{
  width:100%;

    input, TextArea {
    border: none !important;
    background: none;
    
}
}


// .Book-form-view{
//   width:100%;
//   display:flex;

// flex-wrap: wrap;

//   margin-top: 20px;
//   input, TextArea {
//     border: none !important;
//     background: none;
    
// }




// // .ant-form-item-label {
// //   padding: 0;
// //   margin: 0;
  
// // }

// // .ant-form-item-control {
// //   padding: 0;
// //   margin: 0;
// // }

// }



