.Login-Form {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    .LogIn-Title {
      text-align: center;
    }
  
    .errmsg {
      color: red;
      text-align: center;
    }
  
    .offscreen {
      position: absolute;
      left: -9999px;
    }
  
    .login-button {
      display: flex;
      justify-content: center;
    }
  
    .Demo-Login {
      display: flex;
      flex-direction: column;
      align-items: center;
      button{
        margin: 0.5em;
    }
      h1 {
        text-align: center;
      }
  
     
    }
  }
  






// // ********
// // ****Media

// @media screen and (max-width:650px){ 



// }