.ant-pagination-disabled .ant-pagination-item-link{
    overflow: hidden;
}

.ant-popover .ant-popconfirm .ant-popover-placement-top {
z-index: 99;
}

.Book_Table{
    button{
        color:black;
        background:rgba(232, 10, 10, 0.709);
        border-radius: 21.3px;
        width: 50px;
    }
}

.ant-table-tbody>tr>td{
    text-align: center;
}