.sign-up-button{
  justify-content: center;

}


@media screen and (max-width:650px ) and (min-width:400px){ 
.Sign-up-form{
  .ant-form .ant-form-item .ant-form-item-control .ant-form .ant-form-item .ant-form-item-label{
    color:red;
    background:red;
    flex:0 0 100% !important;
  }
}

#Sign-up-form-begin{
 
  width:90vw !important;



}
}